body {
    background-color: white;
}

section {
    margin-bottom: 100px;
}

.bg-darkblue05 {
    background-color: #091B6F;
}

.bg-darkblue01 {
    background-color: #CFD4ED;
}


.btn-success {
    background-color: #73CA5C;
}

/* Style untuk layar yang lebih kecil (misalnya ponsel) */
@media screen and (max-width: 767px) {
    body {
        font-size: 16px;
        /* Ubah ukuran font untuk layar kecil */
    }

    .navbar-toggler-icon {
        background-color: #fff;
        /* Mengubah warna ikon toggle */
    }

    .navbar-collapse.collapse {
        text-align: center;
        /* Menengahkan menu saat diklik pada mobile */
    }

    .navbar-nav {
        margin-top: 20px;
        /* Menambah margin atas pada menu item */
    }

    .navbar-nav .nav-item {
        margin: 10px 0;
        /* Memberikan ruang antara menu item */
    }

    .navbar-nav .nav-item a {
        display: block;
        /* Membuat menu item menjadi elemen blok */
        padding: 10px 0;
        /* Menambah padding pada menu item */
        font-weight: bold;
        /* Mengubah berat font menjadi bold */
    }

    /* Memperbaiki tampilan tombol Register pada mobile */
    .navbar-nav .nav-item:last-child button {
        margin-top: 20px;
        /* Menambah margin atas pada tombol Register */
    }

    section {
        margin-bottom: 50px;
        /* Ubah margin untuk layar kecil */
    }

    section h2 {
        text-align: center;
    }

    #hero {
        text-align: center;
    }

    #services h1, p {
        text-align: center;
    }

    #why {
        text-align: center;
    }

    #why .card {
        margin-top: 20px;
    }

    #faq {
        text-align: center;
    }

    /* tambahkan pengaturan lain sesuai kebutuhan Anda */
}

/* Style untuk layar menengah (misalnya tablet) */
@media screen and (min-width: 767px) and (max-width: 1024px) {
    body {
        font-size: 18px;
        /* Ubah ukuran font untuk layar menengah */
    }

    section {
        margin-bottom: 75px;
        /* Ubah margin untuk layar menengah */
    }

    /* tambahkan pengaturan lain sesuai kebutuhan Anda */
}

/* Style untuk layar besar (misalnya desktop) */
@media screen and (min-width: 1025px) {
    body {
        font-size: 20px;
        /* Ukuran font default untuk layar besar */
    }

    section {
        margin-bottom: 100px;
        /* Margin default untuk layar besar */
    }

    /* tambahkan pengaturan lain sesuai kebutuhan Anda */
}