body {
    background-color: white;
}

section {
    margin-bottom: 100px;
}

.bg-darkblue05 {
    background-color: #091B6F;
}

.bg-darkblue01 {
    background-color: #CFD4ED;
}


.btn-success {
    background-color: #73CA5C;
}